.form-title {
    font-weight: 600;
    background-color: #324354;
    color: white;
    padding: 1rem;
}

.form-grid.field {
    border: 1px solid yellow;
    padding: 2rem;
}

.field {
    margin-bottom: 0;

    .p-divider {
        .p-divider-content {
            background-color: transparent;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}

.field.grid {
    margin: 0.5rem;
}

.field-checkbox>label,
.field-radiobutton>label {
    line-height: 1;
    margin-left: 0;
}

.grid>div {
    padding: 1rem;

    // span {
    //     display: block;
    // }

    // button {
    //     position: relative;
    //     display: inline-flex;
    //     justify-content: center;
    // }
}

.iterator {
    padding-bottom: 1.5rem;
    border-bottom: 3px dotted darkgray;
}