/* General */
$fontSize: 14px;
$borderRadius: 12px;
$transitionDuration: 0.2s;

/* Layouts */
$headerHeight: 4rem;
$footerHeight: 2.5rem;
$sidebarWidth: 22rem;
$sidebarMinWidth: 5rem;

/* Menus */
$menuHeaderFontSize: 1.2rem;